@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: 1rem 2rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#recommend {
  padding-top: 30px;
  padding-bottom: 0px;
}

@media screen and (max-width: 900px) {
  #recommend {
    padding-left: 13px;
  }
}

@media screen and (max-width: 900px) {
  .gjlpDz {
    margin-top: 1.2rem !important;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #14213d;
}
::-webkit-scrollbar-thumb {
  background-color: #4539e6;
}

.container2 {
  font-family: "Hedvig Letters Serif", serif !important;
}

@media screen and (max-width: 900px) {
  .card {
    margin: 1px !important;
  }
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
:root {
  --up: 3;
  --card-margin: 5px;
  --card-shadow: rgba(46, 49, 52, 0.4);
  --color-white: #fff;
  --color-lightgrey: #ffffff;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(90vw / var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(0.1vw - var(--cardWidth));
}
@media screen and (max-width: 900px) {
  :root {
    /*basically mobile*/
    --up: 0.9;
  }
}
.carouselwrapper {
  overflow: hidden;
  background: var(--color-lightgrey);
  position: relative;
}
.carousel {
  width: var(--carouselWidth);
  margin: 0 0 0 var(--carouselLeftMargin);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.carousel.prev {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}
.carousel.next {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}
.carousel li {
  padding: 50px;
  text-align: center;
  width: calc(var(--cardWidth) - var(--card-margin) * 2);
  box-sizing: border-box;
}
.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% - var(--card-margin) * 2);
  justify-content: space-between;
  padding: var(--card-margin);
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .ui {
    width: calc(100% - var(--card-margin) * 2);
    margin-left: -10px;
  }
}

.ui button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-ui);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-white);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.ui button:hover {
  background: var(--color-ui-hover);
}
.ui button:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
}
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 39px 0px;
  border-radius: 15px;

  margin-top: 27px !important;
  margin: var(--card-margin);
  background: var(--color-white);
  transition: 0.3s ease-in-out;
  height: 75vh;
}

.card:hover {
  transform: translateX(0rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card .cardimg {
  object-fit: cover;
  width: 100%;
}
.card .material-icons {
  font-size: 4.8rem;
}
.card p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}
@keyframes next {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}
@keyframes prev {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}

@media screen and (max-width: 900px) {
  .card {
    margin-left: 8px !important;
    width: 50%;
    height: 53vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 0px 0px;
  }

  .card:hover {
    transform: translateX(0rem) translateY(0rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

ul {
  list-style: none;
}

input {
  overflow: hidden;
}

.title {
  z-index: 1;
}

.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0 0 35px;
}

.sec-pad {
  padding: 60px 0 0;
  margin: 50px 0;
}

.contact-sec {
  align-items: center;
  display: flex;
  background-color: #5cbde466;
}

.contact-sec .contact-ul li,
.contact-ul b {
  font-size: 20px;
  margin: 10px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  word-wrap: break-word;
}

.brand {
  z-index: 100;
}

.contact-sec .contact-ul i {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.contact-detail a {
  color: #000;
  text-decoration: none;
}

.contact-sec .contact-ul li b:hover {
  color: #f93;
}

.contact-sec .contact-ul li .fa-location-dot {
  color: #f44337;
  border: 2px solid #f4433790;
}

.contact-sec .contact-ul li .fa-phone {
  color: #00b055;
  border: 2px solid #00b05590;
}

.contact-sec .contact-ul li .fa-envelope {
  color: #ff6347;
  border: 2px solid #ff634790;
}

.cardbut {
  margin-top: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #48e48c;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
}

.cardbut:hover {
  background-color: #023e8a;
}

.contact-detail span {
  width: 400px;
  display: flex;
  justify-content: center;
}
.contact-detail span a {
  font-size: 20px;
  padding: 6px 12px;
  color: #000;
  border-radius: 50%;
  margin: 0px 5px;
}
.contact-detail span .fb {
  color: #3b5998;
  border: 3px solid #3b5998;
}
.contact-detail span .fb:hover {
  color: #fff;
  background-color: #3b5998;
}

.contact-detail span .insta {
  color: #833ab4;
  border: 3px solid #833ab4;
}
.contact-detail span .insta:hover {
  color: #fff;
  background-color: #833ab4;
}

.contact-detail span .twitter {
  color: #00acee;
  border: 3px solid #00acee;
}
.contact-detail span .twitter:hover {
  color: #fff;
  background-color: #00acee;
}

form.contFrm {
  max-width: 396px;
  margin: auto;
}

.inptFld {
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 10px;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}

.inptFld:focus {
  outline-offset: -4px;
  outline: 1px solid #f93;
}

.contFrm textarea {
  height: 75px;
  padding-top: 5px;
}
.inptBtn {
  height: 50px;
  border: 0;
  background: #00b055;
  font-size: 14px;
  color: #fff;
  margin: auto;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

/* Responcive css Start */

@media (max-width: 991px) {
  .sec-pad {
    padding: 20px 0 0px;
  }

  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 18px;
  }

  .contact-sec .contact-ul i {
    font-size: 14px;
    padding: 6px;
    margin-right: 6px;
  }

  .inptFld {
    height: 40px;
    margin: 0 0 10px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contact-detail span {
    width: auto;
  }
  .contact-detail span a {
    font-size: 18px;
    padding: 5px 10px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px 20px;
  }
}

@media (max-width: 575px) {
  .section-title {
    font-size: 26px;
    font-weight: 500;
  }
  .contact-sec {
    border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
  }

  .contact-sec .contact-ul i {
    border: none;
  }
  .inptFld {
    height: 36px;
    margin: 0 0 8px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 16px;
  }
}

.css-8t49rw-MuiStepConnector-line {
  min-height: 7px !important;
}

.css-1hv8oq8-MuiStepLabel-label {
  font-size: 19px !important;
  font-weight: bold !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 15px !important;
}

.css-1vyamtt-MuiStepLabel-labelContainer {
  color: rgb(0, 0, 0) !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  fill: #1565c0 !important;
}

.container2 {
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.product-configuration {
  padding-bottom: 20px;
}

.left-column {
  width: 100%;
  margin-right: 20px;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  padding-top: 50px;
  width: 100%;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #c91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url("./assets/blog1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.sc-hKwDye {
  z-index: 4 !important;
}

.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-price span {
  font-size: 20px;
  font-weight: bold;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: -60px !important;

    /* margin-top: 100px; */
  }

  .product-description h1 {
    font-size: 35px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .right-column {
    margin-top: 20px;
  }

  .left-column img {
    width: 300px;
    right: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}

.titlestop {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 535px) {
  .left-column img {
    width: 300px;
    top: -85px;
  }
}

@media (max-width: 535px) {
  .hidetit {
    display: none;
  }
}

/* Define styles for InclusionsContainer */
#inclusions-container {
  margin-top: 20px;
}

/* Styles for inclusions-title */
.inclusions-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Adjust the color as needed */
}

/* Styles for inclusions-list */
.inclusions-list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  font-size: 1rem;
  color: #555; /* Adjust the color as needed */
}

/* Styles for li elements within inclusions-list */
.inclusions-list li {
  margin-bottom: 5px;
}

/* Bullet styles for li elements within inclusions-list */
.inclusions-list li:before {
  content: "•";
  margin-right: 5px;
  color: #4caf50; /* Bullet color */
}

.empty {
  height: 20px;
}

.about-section {
  background: url(https://images.unsplash.com/photo-1668370109885-22a118b9b291?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

.fZOERK {
  height: 60vh !important;
}
.download-button {
  display: inline-block;
  margin-top: -10px;
  padding: 10px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #45a049;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
  transition: 0.2s;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #e3e4e4;
  transition: 0.2s;
}

.accordion-title:hover {
  background-color: #aeb3b3;
  transition: 0.2s;
}

.accordion-title,
.accordion-content {
  padding: 0.5rem;
  transition: 0.2s;
}

.accordion-content {
  background-color: rgb(106, 108, 108);
  transition: 0.2s;
}

/* For desktop view */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ... (rest of your styles) */

  /* Media query for mobile view */
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    position: relative; /* or fixed, depending on your design */
    /* ... (rest of your mobile styles) */
  }
}

.carousel {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .carousel {
    margin-left: -20px;
  }
  #hero {
    margin-top: 0.5rem;
  }
  .lang {
    display: none;
  }
}

/* LanguageDropdown.css */
.language-dropdown {
  position: relative;
  display: inline-block;
  padding-right: 100px;
  border-radius: 0px !important;
  background-color: white !important;
  color: black !important;
}

.gXIHbh{
  top: -445px !important;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 0px !important;
  background-color: white !important;
  color: #000 !important;
  /* background-color: #48E48C; */
}

.globe-icon {
  margin-right: 5px;
  color: black !important;
}

.chevron-icon {
  margin-left: 5px;
  color: black !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  border-radius: 0px !important;

  background-color: white !important;
  color: #000 !important;
}

.dropdown-content button {
  padding: 5px;
  border-radius: 0px !important;

  background-color: white !important;
  color: #000 !important;
}

.dropdown-content button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  background-color: white !important;
  color: #000 !important;
}

.language-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button:hover {
  background-color: #333 !important;
  color: white !important;
}

.dropdown-button:hover {
  background-color: #333 !important;
  color: white !important;
}

.globe-icon:hover {
  color: white !important;
}

.container3 {
margin: 1rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "classic wine";
}

.classic {
  grid-area: classic;
}

.wine {
  grid-area: wine;
}

.titletour {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 600;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.daytour {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.classic {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wine {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btn-tour {
  margin-top: 20px;
}

#datetour {
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "classic"
      "wine";
  }

  .classic {
    grid-area: classic;
  }

  .wine {
    grid-area: wine;
  }
}

.linear{
  margin: 1rem 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-gap: 5px;
  margin-bottom: 2rem;
  margin: 1rem 2rem;
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }
  #services{
    margin-top: 220px;
    margin-bottom: 20px;
  }
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery__item:hover {
  transform: scale(1.05);
}


.price{
  font-size: 15px;
}






.card2 {
  width: 1000px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
  margin: auto; /* Добавлено */
}

.card2:hover {
  transform: scale(1.05);
}

.card2 .top-section {
  height: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
background:url("https://cdn.britannica.com/01/137501-050-B02429E9/madrasa-Shirdar-Rigestan-Square-Samarkand-Uzbekistan.jpg") center/cover no-repeat;
  position: relative;
}

.card2 .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.card2 .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card2 .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card2 .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.card2 .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card2 .top-section .icons .logo .top-section {
  height: 100%;
}

.card2 .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.card2 .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.card2 .top-section .icons .social-media .svg:hover {
  fill: white;
}

.card2 .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.card2 .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card2 .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card2 .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.card2 .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
}

.card2 .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.card2 .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}

@media screen and (max-width: 767px) {
  .card2 {
    margin: auto; /* Добавлено */
    margin: 1rem 2rem; /* Удалено */
    width: 330px;
  }

  .card2 .top-section {
    height: 280px;
    object-fit: contain;
  }
}


.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}